# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake stuff
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# Generated binaries and example output files
run_libfs_tests
examples/read_curv/read_curv
examples/read_curv/tmp.lh.thickness

examples/read_mgh/read_mgh
examples/read_mgh/tmp.brain.mgh


examples/read_surf/read_surf
examples/read_surf/lh_white.ply
examples/read_surf/lh_white.obj

examples/read_label/read_label
examples/read_label/tmp.lh.cortex.label

# Doxygen
doxyfile
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
doc/doc_built

